<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80205215716-9snqkvvqflf5ncdk96m96dqokjbtrnv8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80205215716-9snqkvvqflf5ncdk96m96dqokjbtrnv8</string>
	<key>API_KEY</key>
	<string>AIzaSyC5b_OsmO-XeRKCbriuRMzZw7Jhgfkv9Ek</string>
	<key>GCM_SENDER_ID</key>
	<string>80205215716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>private.ToDoAppSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>todoappswiftui</string>
	<key>STORAGE_BUCKET</key>
	<string>todoappswiftui.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80205215716:ios:573b06239eaa53bb93b9f1</string>
</dict>
</plist>